h1{
    color :rgb(30, 48, 113)
}
h2{
    color :rgb(33, 85, 169)
}
table{
    color: rgb(112, 138, 241);
}a{
    color :rgb(4, 0, 255) 
}p{
    color: rgb(51, 57, 65);
}body{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.body{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(222, 229, 240);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}.t{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}.intro{
    text-align: left;
}.intro h2{
    color: #148aff;
    font-size: 24px;
}.intro p{
    font-size: 16px;
    color: #2e3238;
}.projek h2{
    color: #148aff;
    font-size: 24px;
    margin-bottom: 10px;
}.projek{
    padding-left: 10px;
    margin-bottom: 10px;
}.projek a{
    text-decoration: none;
    color: #0066ff;
    font-weight: bold;
}.projek u{
    text-decoration: underline;
    color: #ff0000;
    font-weight: none;
}.projek a:hover{
    text-decoration: underline;
}.kontak h2 {
    color: #148aff;
    font-size: 24px;
    margin-bottom: 10px;
}.kontak p{
    font-size: 16px;
    color: #333;
}.kontak a {
    color: #0066ff;
    text-decoration: none;
}.kontak b {
    color: #000000;
    text-decoration: none;
}.kontak a:hover {
    text-decoration: underline;
}.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #007bff;
    margin: 0 auto;
    display: block;
}ul{
    list-style: none;   /* Removes bullet points */
    padding: 0;         /* Removes default padding */
}ul li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}



  
  
  